@media screen and (min: 760px) {
  .section {
    max-width: 75vw;
  }
  .section h1 {
    font-size: 2rem;
  }
}

.section h1 {
  margin: 3rem 0 2rem 0;
  text-align: center;
  text-transform: capitalize;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.form input {
  width: 40px;
  margin: 10px;
  padding: 0.4rem 0.4rem;
  border-radius: 3px;
  color: #49a6e9;
  background: #fff;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  border: none;
}

.form label {
  font-size: 1.3rem;
  font-weight: 500;
}

.btn,
.clearbtn {
  color: #063251;
  background: #49a6e9;
  border: none;
  padding: 0.45rem 0.6rem;
  font-weight: bold;
  font-size: 1.3rem;
  border-radius: 3px;
}

.btn:hover {
  color: #49a6e9;
  background: #afd5f8;
}

.article {
  width: 90vw;
  max-width: 600px;
  margin: 0 auto 0 auto;
}

.article p {
  font-size: small;
  text-align: center;
  color: #063251;
}

.btnwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto;
}
